name: Deploy Extra Addons (Odoo)

on:
  push:
    branches:
        - "main"  

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: SSH into server and deploy
              uses: appleboy/ssh-action@v1.0.0
              with:
                host: 143.244.136.238
                username: abbaihost
                key: ${{ secrets.SSH_PRIVATE_KEY_ABBAIHOST }}
                script: |
                    cd cit/ &&
                    cd extra-addons/ &&
                    cd cit/ &&
                    git pull &&
                    cd ../.. &&
                    sudo docker compose restart